<tr>
  <td><%= @project.title %></td>
</tr>

<% if @project.tasks.empty? %>
  <p>There's no Tasks in the Project.</p>
<% else %>
  <table>
    <thead>
    <tr>
      <th width="200">Task</th>
      <th>Priority</th>
      <th>Deadline</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <%= render @project.tasks %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Add new Task', new_task_path %>
