<tr>
  <td><%= @project.title %></td>
</tr>

<% if @project.tasks.empty? %>
  <p>There's no Tasks in the Project.</p>
<% else %>
  <table>
    <thead>
    <tr>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <%= render @project.tasks %>
    </tbody>
  </table>
<% end %>
